# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.egg
.egg-info/
lib/
lib64/
.git
.pytest_cache/
.pydevprefs
.pydevproject
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp
temp/
tmp/